*{
	margin: 0px;
	padding: 0px;
}

body
{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

canvas {
	background-color:black;
	position:absolute;
	top:50%;
	left:50%;
	image-rendering:optimizeSpeed;
	image-rendering:-moz-crisp-edges;
	image-rendering:optimize-contrast;
	image-rendering:-webkit-optimize-contrast;
	image-rendering:-o-crisp-edges;
	image-rendering:pixelated;
	image-rendering:crisp-edges;
	-ms-interpolation-mode:nearest-neighbor;
}
